/****** CUSTOM STYLES  ******/

/* ADS */
.adcenter {
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.full{
  border-radius: 100% / 100%;
  height: 250px;
  width: 250px;
}
.half{
  border-radius: 47% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: rotate(180deg);
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.button{
  height: 250px;
  width: 250px;
  background-repeat:no-repeat;
  cursor:pointer;
}
.img-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}
.spacer{
  padding-top: 12px;
  margin-bottom: 2%;
}
.spacer3{
  padding: .55%;
  padding-top: 0;
}
.backgroud{
  width: 100%;
  height: 240px;
  margin: 0 auto 0 auto;
  position: absolute;
}
/* Circle Buttons on Home page */
.img-circular{
  display:block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-size: cover;
  opacity: .9;
}
.title-text{
  font-size: 30px;
  color: black;
  font-weight: 600;
}

/* LIGHTBOX */

.lightbox-grid,
.lightbox-grid ul,
.lightbox-grid li {
  position: relative;
  overflow: hidden;
}

.lightbox-grid li {
  width: 15%;
  float: left;
  border: 0px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.lightbox-grid li:hover {
  opacity: .8;
}

/* Home Page Circles of cities */

.city-circles {
  max-width: calc(var(--md-tile-width) * 6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city-table {
  padding: 90px 32px;
}
.city-table .price {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  color: #292929;
  display: inline-block;
  margin-bottom: 16px;
}
.bg-dark .city-table .price {
  color: #fff;
}
.city-table p:last-child {
  margin-bottom: 0;
}
.city-table.boxed,
.city-table.emphasis a:not(.btn) {
  color: #fff;
}
.city-table.emphasis .price,
.city-table.emphasis h5 {
  color: #fff;
}
.pt-2 ul {
  line-height: 36px;
}

.btn-custom{
  font-size: 20px;
  border: 0;
  border-radius: 50%;
  background: rgba(114, 114, 114, .6);
}

/* Collapsable Lists */

.collapsible {
  color: black;
  cursor: crosshair;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12.5px;
  margin-bottom: 0;
}

.active2,
.collapsible:hover {
  background-color: #fff;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #fff;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9, {
  position: relative;
}

#btn1.on:after,
#btn2.on:after,
#btn3.on:after,
#btn4.on:after,
#btn5.on:after,
#btn6.on:after,
#btn7.on:after,
#btn8.on:after,
#btn9.on:after, {
  content: "- See Less";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}


/* Text Guide Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closemodal {
  /* color: #000; */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closemodal:hover,
.closemodal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  button[type=submit] {
    width: 100%;
    color: white;
    /* padding: 14px 20px; */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type=submit]:hover {
    background-color: #45a049;
  }

/* MOBILE STYLING */
  @media (max-width:700px){
        .mobilecenter {
            text-align: center;
        }
